name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: g++ main.cpp change_case.cpp -o change_case
    - name: test
      run: |
           chmodu+x test.sh |
           ./test.sh
      
   
